@using RepoT.RavenDb.MvcSample.Models
@using RepositoryT.RavenDb.MvcSample.Models

@model RepositoryT.RavenDb.MvcSample.Models.Bookmark
@{ ViewBag.Title = "Create"; }

<h2>New Bookmark</h2>
@using (Html.BeginForm()) {
    <dl class="FieldsWithLabels">
        <dt>@Html.LabelFor(model => model.Title)</dt><dd>@Html.EditorFor(model => model.Title)</dd>
        <dt>@Html.LabelFor(model => model.Url)</dt><dd>@Html.EditorFor(model => model.Url)</dd>
        <dt>@Html.LabelFor(model => model.Description)</dt><dd>@Html.EditorFor(model => model.Description)</dd>
        <dt>@Html.LabelFor(model => model.Tags)</dt><dd>@Html.TextBox("TagsAsString", Model.Tags.ToCommaSeparatedString())</dd>
    </dl>
    <input type="submit" value="Create" />
    @Html.ActionLink("Back to List", "Index")
}
